@import "tailwindcss";

@layer base {
  html {
    font-family: system-ui, sans-serif;
  }

  body {
    @apply bg-gray-50 text-gray-900 transition-colors duration-300;
  }

  .dark body {
    @apply bg-gray-950 text-gray-100;
  }
}